@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

h2 {
  margin: 0;
}

input {
  border: 1px solid;
  border-radius: 10px;
}

span {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/*classes*/
.alert {
  color: red;
  margin-top: 1rem;
}

.flex {
  display: flex;
}

.column {
  flex-flow: column wrap;
}

.card {
  align-items: center;
}

.loading {
  align-items: center;
  margin-top: 2rem;
}

/* IDs */
#loader {
  display: none;
  border: 1rem solid #f3f3f3;
  border-top: 1rem solid #1f66cf;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  animation: spin 1s linear infinite;
}

#results {
  display: none;
  align-items: center;
}

div#results input {
  width: 15rem;
}

#submit {
  color: white;
  background-color: #1f66cf;
  border: none;
  cursor: pointer;
}
/*Animations*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Media Queries*/

@media only screen and (max-width: 768px) {
  form input {
    margin: 0.1rem;
  }
  form input:nth-child(-n + 3) {
    width: 15rem;
  }

  #calculator {
    flex-flow: column nowrap;
    align-items: center;
  }
}
